<?xml version="1.0" encoding="utf-8"?>
<!--
 SabberStone, Hearthstone Simulator in C# .NET Core
 Copyright (C) 2017-2019 SabberStone Team, darkfriend77 & rnilva

 SabberStone is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License.
 SabberStone is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.
-->

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
